    <!-- JS Global Compulsory -->			
    <script type="text/javascript" src="/js/plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/js/plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/js/plugins/bootstrap/js/bootstrap.min.js"></script> 
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/js/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/js/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/js/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <!-- Layer Slider -->
    <script type="text/javascript" src="/js/plugins/layer-slider/layerslider/js/greensock.js"></script>
    <script type="text/javascript" src="/js/plugins/layer-slider/layerslider/js/layerslider.transitions.js"></script>
    <script type="text/javascript" src="/js/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
    <!-- End Layer Slider -->           
    <!-- JS Page Level -->           
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/pages/index.js"></script>
    <script type="text/javascript" src="/js/plugins/owl-carousel.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
          	App.init();
            App.initSliders();
            Index.initLayerSlider();
            OwlCarousel.initOwlCarousel();
        });
    </script>
