<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img src="/img/logo.png" alt="Commando Development"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-cdodev">
                <li id="nav-tab-home" class="dropdown">
                    <a href="/">Home</a>
                </li>
                <li id="nav-tab-mission" class="dropdown">
                    <a href="/mission">Mission</a>
                </li>
                <li id="nav-tab-blog" class="dropdown">
                    <a href="/blog">Blog</a>
                </li>
                <!--menu home li end here-->
                <!--menu pages li end here-->

                <!--mega menu end-->

                <!--                        <li class="dropdown">
                     <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
                     <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                     <form role="form">
                     <h4>Signin</h4>

                     <div class="form-group">
                     <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-user"></i></span>
                     <input type="text" class="form-control" placeholder="Username">
                     </div>
                     <br>
                     <div class="input-group">
                     <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                     <input type="password" class="form-control" placeholder="Password">
                     </div>
                     <div class="checkbox pull-left">
                     <label>
                     <input type="checkbox"> Remember me
                     </label>
                     </div>
                     <a class="btn btn-theme-bg pull-right">Login</a>
                     <button type="submit" class="btn btn-theme pull-right">Login</button>
                     <div class="clearfix"></div>
                     <hr>
                     <p>Don't have an account! <a href="#">Register Now</a></p>
                     </div>
                     </form>
                     </div>
                     </li> menu login li end here-->
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div>
