<!DOCTYPE HTML>
<html lang="en">
  <head>
    $partial("templates/header.html")$
    $mathjax$
  </head>
  <body>
    $partial("templates/nav.html")$

    <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 center-heading">
           <h1>$title$</h1>
           <!-- <p>$title-img$</p> -->
        </div>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row"
        $body$
      </div>
    </div>

    $partial("templates/footer.html")$
    $partial("templates/after-load.html")$

  </body>
</html>
